#nav-bar-title{
height: 40px;
margin-top: 30px;
margin-left: 60px;
font-size: 3em;
font-family: cursive;
letter-spacing: 10px;
font-weight:bolder;
text-align: center;
}

#nav-bar {
    background: linear-gradient(90deg,
            rgb(255, 255, 255) 0%,
            rgb(206, 198, 163) 100%);
    /* background-color: rgb(204, 225, 242); */
    height: 6rem;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
}

#Products {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

#Register {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

#Login {
    margin: 1rem;
    padding: 1rem 1rem;
    text-align: center;
    color: rgb(2, 2, 2);
}

img {
    height: 5rem;
}

.product-container{
    display:flex;
    flex-direction: row;
    width: 1000px;
    justify-content:space-evenly;
    justify-content: left;
    border: 2px solid black;
    align-items: top;
    
}

.quantity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    align-items: center;

}

.quantity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    align-items: center;
    padding-left: 15px;
    padding-right:15px;

}

.total{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    align-items: center;

}
.category-description{
    width: 225px;
}

.header{
    width: 75px;
}

.category-image{
    width: 200px;
    padding-right:20px;
}

#plus {
    font-size: x-large;
}

#minus {
    font-size: x-large;
}

#total{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    align-items: center;
    margin-left:70px;

}
.pleaselogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:400 px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 3px;
 }

 #checkout-total{
    display:flex;
    flex-direction:column;
    justify-content:right;
    align-items:flex-end;
    margin-right:30px;
  }

  [className='shopping cart icon']{
 color: black;
 font-size: x-large;
  }

  #checkout-form-container{
    display:flex;
    flex-direction: column;
    margin-left: 300px;
    justify-content: center;
    width: 600px;
  }

  .confirm-checkout{
    display:flex;
    font-size: x-large;
    flex-direction: column;
    margin-left: 300px;
    justify-content: center;
    justify-content: space-between;
    width: 600px;
    border:3px solid black;
    padding: 20px;
    height: 400px;
  }

  .confirm-checkout-card{
    display:flex;
    font-size: large;
    flex-direction: column;
    justify-content: center;
    align-items:stretch;
    width: 500px;
    padding: 20px;
    height: 250px;
  }